/* Set the body of main page */
body {
  background-color: rgb(119, 23, 77);
  width: 100%;
}
/* To remove default css properties*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* To set the Heading */
h1,
h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
h2 {
  margin-bottom: 15px;
}
/* To set both inputfield and button */
form {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* To set the mian button */
.mainButton {
  margin: 0;
  width: 150px;
  padding: 10px;
  background-color: rgb(244, 208, 229);
  color: rgb(119, 23, 77);
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
/* To design the button */
button {
  width: 50px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(244, 208, 229);
  color: rgb(119, 23, 77);
  font-size: 12px;
  border-radius: 5px;
  border: none;
}
/* To design the input field */
input {
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
/* Set div element */
div {
  font-size: 16px;
  color: white;
}
/* Set paragraph element */
p {
  text-align: center;
  font-size: 20px;
}
